# permissions for end users to edit eips.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eip-editor-role
rules:
- apiGroups:
  - ketal.equinix.metal
  resources:
  - eips
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ketal.equinix.metal
  resources:
  - eips/status
  verbs:
  - get
