# permissions for end users to view eips.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eip-viewer-role
rules:
- apiGroups:
  - ketal.equinix.metal
  resources:
  - eips
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ketal.equinix.metal
  resources:
  - eips/status
  verbs:
  - get
